		<div class="box">
			<div class="box-header">
				<ul class="nav nav-tabs nav-tabs-left">
					<li class="active">
						<a href="#latest_quick_reports" data-toggle="tab"><i class="icon-home"></i>
							<span>最新提交的<%= I18n.t('activerecord.models.quick_report') %></span>
						</a>
					</li>
					<li>
						<a href="#latest_template_reports" data-toggle="tab"><i class="icon-comments-alt"></i> 
							<span>最新提交的<%= I18n.t('activerecord.models.template_report') %></span>
						</a>
					</li>
				</ul>	
			</div>
			<div class="box-content scrollable" style="height: 405px; overflow-y: auto" %>
				<div class="tab-content">
					<div class="tab-pane active" id="latest_quick_reports">				
						<% @latest_created_quick_report.each do |q| %>
							<%= render partial:'quick_reports/index_item',locals:{q: q,only_time: false} %>
						<% end %>
					</div>
					<div class="tab-pane" id="latest_template_reports">				
						<% @latest_create_template_report.each do |t| %>
							<%=render partial:'template_reports/index_item', locals:{t:t,only_issue:false} %>
						<% end %>
					</div>
				</div>
			</div>
		</div>