<fieldset>
  <div class="row-fluid">
    <div class="span6">
      <%= f.association :location, collection: Location.all,:include_blank => true %>
      <%= f.input :desc ,:input_html => {:rows=>5 }%>
    </div>
    <div class="span6">
		<%= render partial:'shared/upload_image',locals:{f:f,image_check_box_name:"#{f.object.class.to_s.underscore}[image_ids][]"} %>
    </div>
  </div>
</fieldset>