<div class="box">
	<div class="box-header">
		<span class="title"><%=get_index_label('template_report')%></span>
	</div>
	<div class="box-content">
		<% @template_reports.each do |t| %>
			<%=render partial:'index_item', locals:{t:t} %>
		<% end %>
	</div>
	<div class="box-footer">
		<%= will_paginate @template_reports ,class: "pagination pagination-centered pagination-mini"%>
	</div>
</div>
