<div class="box">
	<div class="box-header">
		<span class="title"><%= I18n.t('activerecord.models.resolve')%></span>
	</div>
	<div class="box-content">
		<table class="table table-normal">
			<tr>
				<td width="25%">
					<%=I18n.t('activerecord.attributes.resolve.desc') %>
				</td>
				<td>
					<%= resolve.desc %>
				</td>
			</tr>
		</table>
	</div>
	<div class="box-footer">
		<p style="margin:4px">
			<% if allow? :resolves,:edit , resolve %>
				<%=link_to I18n.t('views.text.edit'), 
					edit_resolf_path(resolve),
					:class=>"btn btn-mini btn-green" %>
			<% end %>
		</p>
	</div>
</div>