<div class="box-header">
	<span class="title"><%= I18n.t("activerecord.models.#{model}") + '列表'%></span>
	<ul class="box-toolbar">
		<li class="toolbar-link">
			<a href="#" data-toggle="dropdown"><i class="icon-cog"></i></a>
			<ul class="dropdown-menu">
				<li>
					<% if defined?(farther_object) %>
						<%=link_to send("new_#{farther_object.class.to_s.underscore}_#{model}_path",farther_object) do %>
							<i class="icon-plus-sign"></i> Add
						<% end %>
					<% else %>
						<%=link_to send("new_#{model}_path") do %>
						<i class="icon-plus-sign"></i> Add
						<% end %>
					<% end %>
				</li> 
			</ul>
		</li>
	</ul>
</div>