<div class="box hidden-phone">
	<div class="box-header">
		<span class="title">地图</span>
		<% if (controller_name == 'tenants' or controller_name == 'locations') and (action_name =='edit' or action_name == 'new') %>
		<ul class="box-toolbar">
          <li>
              <label class="input-with-submit">
                <input id="search_place" type="text" placeholder="....">
                <button type="submit" class="submit-icon" onclick="return mapLocationSearch();">
                  <i class="icon-search"></i>
                </button>
              </label>
          </li>
        </ul>
        <% end %>
	</div>
	<div class="box-content">
		<div id="map-container" style="height: 450px">
		</div>
	</div>
	<div class="box-footer">
		<% if not defined?(control_button).nil? %>
			<p style="margin:4px">
    			<button id="run" class="btn btn-mini btn-green" >开始</button> 
    			<button id="stop" class="btn btn-mini btn-green" >停止</button> 
    			<button id="pause" class="btn btn-mini btn-green" >暂停</button> 
			</p>
		<% end %>
	</div>
</div>

